@import url("http://fonts.googleapis.com/css/family=Quicksand:400,500&subset=latin-ext");

body {
  padding-top: 120px;
  /* background-image: linear-gradient(#ff2846, #6944ff 100%); */
  background-image: url(assets/bg.jpg);
  background-size: cover;
  text-align: center;
  background-position: 0%;
  font-family: "Quicksand", sans-serif;
}

ul {
  margin-left: -45px;
}
li {
  list-style-type: none;
  display: inline-block;
}
.container {
  width: 650px;
  height: 520px;
  background-color: #fafafa;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: center;
  padding-top: 50px;
  margin: auto;
  border-radius: 10px;
  border: 1px solid #eeeeee;
}
.img {
  background-image: url(assets/akukotak.jpg);
  background-color: #eaeaea;
  border-radius: 100px;
  width: 150px;
  height: 150px;
  /* margin: 0 auto; */
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #eaeaea;
}
.h1 {
  text-align: center;
  font-size: 30px;
  margin: 0;
  font-weight: bold;
  color: #6944ff;
}
.paragraph {
  text-align: center;
  font-size: 15px;
  margin: 0;
  color: #000000;
  margin-left: 20px;
  margin-right: 20px;
}

.logo {
  margin-top: 10px;
  padding-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 20px;
}

footer {
  justify-content: center;
}

@media (min-width: 200px) {
  .container {
    width: 50%;
    height: 225%;
    padding-left: 50px;
    padding-right: 50px;
    justify-content: center;
    padding-top: 50px;
    margin: auto;
    padding-bottom: 50px;
    margin-bottom: 100px;
  }
  body {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (min-width: 350px) {
  .container {
    width: 50%;
    height: 200%;
    padding-left: 50px;
    padding-right: 50px;
    justify-content: center;
    padding-top: 50px;
    margin: auto;
    padding-bottom: 50px;
  }
  body {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (min-width: 360px) {
  .container {
    width: 50%;
    height: 150%;
    padding-left: 50px;
    padding-right: 50px;
    justify-content: center;
    padding-top: 50px;
    margin: auto;
    margin-bottom: 100px;
  }
}
body {
  margin-left: 20px;
  margin-right: 20px;
}

@media (min-width: 375px) {
  .container {
    width: 50%;
    height: 160%;
    padding-left: 50px;
    padding-right: 50px;
    justify-content: center;
    padding-top: 50px;
    margin: auto;
    padding-bottom: 50px;
    margin-bottom: 100px;
  }
}
body {
  margin-left: 20px;
  margin-right: 20px;
}

@media (min-width: 390px) {
  .container {
    width: 50%;
    height: 125%;
    padding-left: 50px;
    padding-right: 50px;
    justify-content: center;
    padding-top: 50px;
    margin: auto;
    padding-bottom: 50px;
    margin-bottom: 125px;
  }
}
body {
  margin-left: 20px;
  margin-right: 20px;
}

@media (min-width: 400px) {
  .container {
    width: 50%;
    height: 105%;
    padding-left: 50px;
    padding-right: 50px;
    justify-content: center;
    padding-top: 50px;
    margin: auto;
    padding-bottom: 50px;
    margin-bottom: 125px;
  }
  body {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (min-width: 450px) {
  .container {
    width: 50%;
    height: 200%;
    padding-left: 50px;
    padding-right: 50px;
    justify-content: center;
    padding-top: 50px;
    margin: auto;
    padding-bottom: 50px;
  }
  body {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (min-width: 500px) {
  .container {
    width: 50%;
    height: 120%;
    padding-left: 50px;
    padding-right: 50px;
    justify-content: center;
    padding-top: 50px;
    margin: auto;
    margin-bottom: 100px;
    padding-bottom: 25px;
    margin-bottom: 100px;
  }
}
body {
  margin: auto;
}

@media (min-width: 650px) {
  .container {
    width: 50%;
    height: 150%;
    padding-left: 50px;
    padding-right: 50px;
    justify-content: center;
    padding-top: 50px;
    margin: auto;
    padding-bottom: 25px;
  }
  body {
    margin: auto;
  }
}

@media (min-width: 750px) {
  .container {
    width: 50%;
    height: 60%;
    padding-left: 50px;
    padding-right: 50px;
    justify-content: center;
    padding-top: 50px;
    margin: auto;
    padding-bottom: 25px;
  }
  body {
    margin: auto;
  }
}

@media (min-width: 800px) {
  .container {
    width: 50%;
    height: 50%;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: center;
    margin: auto;
    margin-bottom: 25px;
    padding-bottom: 25px;
  }
  body {
    margin: auto;
  }
}

@media (min-width: 900px) {
  .container {
    width: 50%;
    height: 41%;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: center;
    margin: auto;
    margin-bottom: 25px;
  }
  body {
    margin: auto;
  }
}

@media (min-width: 1000px) {
  .container {
    width: 50%;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: center;
    margin: auto;
    margin-bottom: 200px;
    padding-bottom: 25px;
  }
  body {
    margin: auto;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 50%;
    height: 70%;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: center;
    margin: auto;
    margin-bottom: 250px;
    padding-bottom: 25px;
  }
  body {
    margin: auto;
  }
}

section .ombak {
  position: fixed;
  width: 100%;
  height: 143px;
  bottom: 0;
  left: 0;
  right: 0;
  background: url(assets/ombak.png);
  animation: animate 10s linear infinite;
}

@keyframes animate {
  0% {
    background-position: 1360px;
  }
  100% {
    background-position: 0;
  }
}

@keyframes animate-reverse {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 1360px;
  }
}

section .ombak:before {
  content: "";
  width: 100%;
  height: 143px;
  background: url(assets/ombak.png);
  position: fixed;
  bottom: 0;
  left: 0;
  opacity: 0.4;
  animation: animate-reverse 10s linear infinite;
}

section .ombak:after {
  content: "";
  width: 100%;
  height: 143px;
  background: url(assets/ombak.png);
  position: fixed;
  bottom: 0;
  left: 0;
  opacity: 0.6;
  animation-delay: -5s;
  animation: animate 15s linear infinite;
}

section .ombak2 {
  position: fixed;
  width: 100%;
  height: 143px;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.7;
  background: url(assets/ombak.png);
  animation: animate2 15s linear infinite;
}

@keyframes animate2 {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 1360px;
  }
}

@keyframes animate-reverse2 {
  0% {
    background-position: 1360px;
  }
  100% {
    background-position: 0;
  }
}

section .ombak2:before {
  content: "";
  width: 100%;
  height: 143px;
  background: url(assets/ombak.png);
  position: fixed;
  bottom: 0;
  left: 0;
  opacity: 0.2;
  animation-delay: -2;
  animation: animate-reverse2 20s linear infinite;
}

section .ombak2:after {
  content: "";
  width: 100%;
  height: 143px;
  background: url(assets/ombak.png);
  position: fixed;
  bottom: 0;
  left: 0;
  opacity: 0.8;
  animation-delay: -5s;
  animation: animate2 25s linear infinite;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon i {
  font-size: 30px;
  color: black;
}

.icon img {
  transform-origin: 10% 25%;
  transition: transform 0.03s, filter 0.03s ease-in-out;
  filter: brightness(100%);
}

.icon:hover img {
  filter: brightness(125%);
  transform: scale(1.2);
}

.container:hover {
  filter: brightness(100%);
  transform: scale(1.025);
  transition: transform 0.5s, filter 0.25s ease-out;
}

.paragraph:hover {
  font-weight: bold;
}
